[submodule "ansible"]
	path = ansible
	url = https://github.com/ansible/ansible-examples
[submodule "puppet/modules/good/haproxy"]
	path = puppet/modules/good/haproxy
	url = https://github.com/puppetlabs/puppetlabs-haproxy.git
[submodule "puppet/modules/good/concat"]
	path = puppet/modules/good/concat
	url = https://github.com/puppetlabs/puppetlabs-concat.git
[submodule "puppet/modules/good/stdlib"]
	path = puppet/modules/good/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
